.profile-card{
    background-color: hsla(60, 100%, 50%, .4);
    width: 350px;
    max-width: calc(100vm-10px);
    background-color: hsla(0, 5%, 50%, .5);
    border-radius: 40px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 90px;
    font-size: 1.2em;
}

.head{
    text-align: right;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0%;
}

.content{
    width: 50%;
    margin: 0 auto;
    padding: 5% 10%;
    border-top: 1px solid hsla(0, 0%, 30%, .8);
}

.profile-image{
    margin-top: -50px;
}
.name-headline{
    text-align: center;
}

.about{
    margin-bottom: 5%;
    font-size: 1.6em;
    letter-spacing: 0.1em;
}

.link{
    text-align:center;
}

/* CSS reset */
 
*{
    margin: 0;
    padding: 0%;
    font-size: 100%;
    box-sizing:content-box;
}

body{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    background: url(assets/410915_1.jpeg) no-repeat center center fixed;
    background-size: cover;
    font-family:Gill Sans, sans-serif;
}

img{
    width: 400px;
    height: 600px;
    border-radius: 10%;
    padding: 1px;
    background-color: #666;
    transition: all 0.6s ease-in-out;
    filter: drop-shadow(50%);
}

/* Contact links */

img:hover{
    transform: scale(1.1);
    filter: drop-shadow(20%);
}

h1{
    font-size: 1.6em;
}

h2{
    font-size: 1.6em;
}

li{
    display: inline;
    font-size: 3em;
    letter-spacing:0.5em;
    color: black;
}

ul{
  list-style-type: none;
}
/* Background colors for containers */

/*
.profile-card {
  background-color: hsla(60, 100%, 50%, .4);
}

.head {
  background-color: hsla(120, 100%, 50%, .4);
}

.content {
  background-color: hsla(120, 100%, 50%, .4);
}

.profile-image {
  background-color: hsla(300, 100%, 50%, .4);
}

.name-headline {
  background-color: hsla(300, 100%, 50%, .4);
}

.about {
  background-color: hsla(300, 100%, 50%, .4);
}

.links {
  background-color: hsla(300, 100%, 50%, .4);
}

*/